.btn{
    margin-left: 10px;
    background-color: #3f51b5;
}
button{
    background-color:rgba(52, 218, 116, 0.836);
    margin: 10px 8px 6px 8px;
    min-width: 88px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    text-align: center;
    text-transform: none;
    text-decoration:none;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #4CAF50;
    color: white;
    padding: 5px 12px;
    text-align: center;
    // margin: 4px 2px;
    cursor: pointer;
} 
