.sidenav{
    border-radius: 20px;
    outline: none;
    border:none;
    background-color: #3f51b5;
    color:white;
}
.notify_icon{
    margin-left: 250px;
}

.user_icon{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
  .example-spacer {
    flex: 1 1 auto;
}

.login{
    cursor: pointer;
}

.mat-icon {
    font-size: 30px;
  }

//   .mat-toolbar .mat-form-field-underline{
//       visibility: hidden;
//   }